
th {
    background-color: #4CAF50;
    color: white;
}


table, td, th {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 15px;
}

tr:hover {
    background-color: lightblue;
}

@media all and (max-width: 800px) {
    a {
        font-size: 75px;
    }
    h1{
        font-size: 60px;
    }
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }
}