<template name="users">

    <h3>Users</h3>
    <table>
        <thead>
            <tr>
                <th>Email Address</th>
                <th>Role</th>
            </tr>
        </thead>
        {{#each users}}
            <tr>
                <td>{{#if isCurrentUser _id}}<label style="background-color: lime">You!</label>{{/if}}
                    {{#if isSuper _id}}<label style="background-color: crimson; color: white;">SuperAdmin</label>{{/if}}
                    {{getEmail this}}</td>
                <td>
                    <label for="select1"></label>
                    <select {{disableIfSuperAdmin _id}} name="userRole" id="select1">
                        <option {{select roles.[0] 'user'}} value="">User</option>
                        <option {{select roles.[0] 'admin'}} value="admin">Admin</option>

                    </select>
                </td>
            </tr>

        {{/each}}

    </table>

</template>