<template name="eventsList">
    <h1>Events</h1>
    <p>This is a database page. All data here is made available. Auth tokens will be required in the future...</p>
    <p>Double click row to access element in details</p>

    <h3>{{updateValueOne}}</h3>

    <table style="width: 100%;">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>desc</th>
            <th>author</th>
            <th>timezone</th>
            <th>date (local, not stored)</th>
            <th>date (UTC)</th>
            <th>groupRelevancy</th>
        </tr>
        {{#each events}}
            {{> eventListItem}}
        {{/each}}
    </table>


</template>